* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

button {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  transition: all .5s;
}