* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.min-h-96vh {
  min-height: 96vh;
}

.toggle-sidebar-state {
  cursor: pointer;
}

.sidebar-hidden .sidebar-item  {
  gap: 0.75rem 0;
}

.sidebar-hidden .sidebar-item .item-content {
  display: none;
}

.sidebar-js {
  transition: all .4s;
  overflow: hidden;
}

.toggle-sidebar-state {
  min-width: 48px;
}

.item-content {
  white-space: nowrap;
}

.dark-theme {
  color: #FFF !important;
  background-color: rgb(15 23 42) !important;
}

.dark-theme a {
  color: rgb(148 163 184);
}

.dark-theme .links a:nth-child(1) {
  background-color: rgb(30 41 59);
  color: #FFF;
}

.dark-theme a:hover {
  background-color: rgb(30 41 59);
  color: #FFF;
}

.dark-theme .toggle-sidebar-state,
.dark-theme .three-dots:hover {
  background-color: rgb(30 41 59 / 0.7);
}